NODE_ENV=development
PORT=4000

# DB target: LOCAL | ATLAS
MONGO_TARGET=ATLAS
MONGO_URL=mongodb://127.0.0.1:27017/backend-3
MONGO_ATLAS_URL=

# Session/JWT secrets (change in real environments)
SECRET_SESSION=change_me_session_secret
JWT_SECRET=change_me_jwt_secret